/* login.jsp */

/* participatns.jsp */

.list-body{
    text-align: center;
}

.table{
    background-color: red;
    margin-top: 100px;
}

.table-row{
    margin-top: auto;
}

.logout-button{
    margin-top: 20px;
    position: relative;
    right: 20px;
}

/* signup.jsp */

.signup-fieldset{
    max-width: 300px;
}

.signup-input {

    width: 150px;
    outline: solid 1px;
}
.radio{
    text-align: center;
    margin-bottom: 5px;
}

section{
    text-align: right;

    position: relative;
    left: auto;

    margin-bottom: 5px;
    margin-top: 5px;
}

/* confirmed.jsp */